@model IEnumerable<AidatPro.Models.DemirbasModel>
@{
    ViewBag.Title = "Demirbaş Listesi";
    ViewBag.Desc = "Aşağıda tüm demirbaşlar listelenmektedir.";
}

@Styles.Render("~/Content/dataTable")
<link href="~/Content/PagedList.css" rel="stylesheet" />



    <style>
        .sil {
            margin-left: 10px !important;
        }

        .redClass {
            background-color: white !important;
        }
    </style>
    <div class="card">
        <div class="card-block">

            <div class="dt-responsive table-responsive">
                <table id="footer-search" class="table table-striped table-bordered nowrap">
                    <thead>
                        <tr class="thcol">
                            <th>Demirbaş Ad</th>
                            <th>Adet</th>
                            <th>Kg</th>
                            <th>Fiyat</th>
                            <th>Alış Tarihi</th>
                            <th>Açıklama</th>
                            <th class="serc text-center">Eylem</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="colum">
                                <td> <a href="@Url.Action("DemirbasDetay","Demirbas",new {id=item.Id})">@item.DemirbasAd</a></td>
                                <td>@item.Adet</td>
                                <td>@item.Kg</td>
                                <td>@item.Fiyat</td>
                                <td>@item.AlisTarih.ToString("dddd, dd MMMM yyyy")</td>
                                <td>@item.Aciklama</td>
                                <td class="serc text-center">
                                    <a href="#" class="btn btn-danger btn-sm" onclick="deleteOrder(@item.Id)"><i class="icofont icofont-ui-delete"></i> <span class="sil">Sil</span></a>
                                    <a href="@Url.Action("DemirbasUpdate","Demirbas",new {id=item.Id })" class="btn btn-info btn-sm"><i class="icofont icofont-ui-reply"></i> <span class="sil">Duzenle</span></a>

                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>





<script src="~/Scripts/jquery-3.4.1.min.js"></script>

@Scripts.Render("~/Scripts/dataTable")

<script>
    $('#footer-search').DataTable({
        dom: 'Bfrtip',
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json"
        },
        "createdRow": function (row, data, dataIndex) {
            $(row).addClass('redClass');
        },
        "pageLength": 5,
        buttons: [

        ]
    });
</script>

<script>
        function deleteOrder(id) {
        Swal.fire({
        title: "Uyarı",
        text: "Seçtiğiniz Kayıt Silinsin mi?",
        icon: "warning",
        showCancelButton: true,
        closeOnConfirm: false,
        confirmButtonClass: "btn-danger",
        confirmButtonText: "SİL",
            confirmButtonColor: "#ec6c62",
        cancelButtonText: "Iptal",
        }).then((result) => {
        if (result.value) {
        $.ajax({
        url: '@Url.Action("DeleteDemirbas", "Demirbas")',
        data: { "id": id },
        type: "POST"
        }).done(function (data) {
        if (data) {
        Swal.fire
        ({
        title: "Başarılı!",
        text: "Kayıt Silindi",
        icon: "success"
        }).then(function () {
        window.location.href = '/Demirbaşlar/demirbaş_listesi';
        });
        }
        else {
        Swal.fire("Oops", "Kayıt Silinemedi", "error");
        }
        }).fail(function () {
        Swal.fire("Oops", "Server tarafında hata oluştu.", "error");
        });
        }
        else {
        Swal.fire("Oops", "Kayıt Silinemedi", "error");
        }
        });
        }
</script>
